.btn {
	gap: var(--scale-1);
	height: var(--scale-4);
	padding-inline: var(--scale-105);
	align-items: center;
	background-color: inherit;
	border: 1.5px solid transparent;
	border-radius: 4px;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	font-weight: var(--text-weight--emphasized);
	justify-content: center;
	transition: background 100ms, color 100ms;
	user-select: none;

	&--icon-only {
		padding-inline: var(--scale-1);
	}
}

a.btn {
	text-decoration: none;
}
