@import "../styles/focus";

@mixin invisible-input {
	appearance: none;
	background: transparent;
	block-size: 100%;
	border: none;
	flex: 1;
	outline: none;
	padding: 0;
}

.form-control {
	background: var(--bg--default);
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--color--default);
	outline: none;
	overflow: hidden;

	&:focus,
	&:focus-within {
		@include focus;
	}

	&[aria-invalid="true"],
	&--invalid {
		border-color: red;
	}

	input {
		@include invisible-input;
	}
}

.form-control:not([type="radio"]):not([type="checkbox"]) {
	align-items: center;
	display: flex;
	flex-direction: row;
	inline-size: 100%;
	height: var(--scale-4);
	padding-inline: var(--scale-1);
}

.form-control[type="radio"],
.form-control[type="checkbox"] {
	appearance: none;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	position: relative;
	width: var(--scale-2);
	height: var(--scale-2);
}

.form-control[type="checkbox"] {
	&:checked::after {
		background-color: var(--color--primary--400);
		border-radius: 2px;
		content: "";
		position: absolute;
		inset: 0;
		transform: scale(70%);
	}
}

.form-control[type="radio"] {
	border-radius: 9999px;
	&:checked::after {
		border-radius: 9999px;
		background-color: var(--color--primary--400);
		content: "";
		position: absolute;
		inset: 0;
		transform: scale(70%);
	}
}

@mixin themeLight() {
	.form-control {
		border: 2px solid var(--color--grey--300);
	}
}

@mixin themeDark() {
	.form-control {
		border: 2px solid var(--color--grey--700);
	}
}
