.listbox,
.listbox-group {
	display: flex;
	flex-direction: column;
	user-select: none;
}

.listbox-group + .listbox-group,
.listbox-group + .listbox-group-label {
	&:before {
		display: block;
		content: "";
	}
	border-top: 1px solid var(--color--grey--200);
}

.listbox-group + .listbox-group-label:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.listbox-group-label {
	padding-inline: var(--scale-1);
	padding-block: var(--scale-1);
	// @include text-size(xs);
	color: var(--color--muted);

	font-weight: 500;
	position: relative;
}

.listbox-item {
	display: flex;
	justify-items: center;
	padding: var(--scale-1);

	&:hover {
		// @include bg(primary, 25);
	}

	&--active,
	&[aria-selected="true"],
	&:has(input:checked) {
		// @include bg(primary, 50);
	}

	&[aria-disabled="true"],
	&:disabled,
	&[disabled] {
	}
}
