@use "./shared/colors" as colors;
@use "./shared/scale" as scale;
@use "./shared/text" as text;
@use "../components/index" as components;
@use "../scss/styles/index" as styles;

@mixin theme {
	@include colors.colors;
	@include scale.scale;
	@include text.textScale;
	@include text.textWeight;

	--bg--sunken: var(--color--grey--900);
	--color--sunken: var(--color--grey--300);

	--bg--default: var(--color--grey--800);
	--color--default: var(--color--grey--300);

	--bg--raised: var(--color--grey--700);
	--color--raised: var(--color--grey--300);

	--bg--overlay: var(--color--grey--700);
	--color--overlay: var(--color--grey--300);

	--color--muted: var(--color--grey--400);

	--border--focused: var(--color--primary--700);

	@include components.themeDark;
}
