@use "./shared/colors" as colors;
@use "./shared/scale" as scale;
@use "./shared/text" as text;
@use "../scss/components/index" as components;
@use "../scss/styles/index" as styles;

@mixin theme {
	@include colors.colors;
	@include scale.scale;
	@include text.textScale;
	@include text.textWeight;

	--bg--sunken: var(--color--grey--100);
	--color--sunken: var(--color--grey--900);

	--bg--default: var(--color--grey--25);
	--color--default: var(--color--grey--900);

	--bg--raised: var(--color--grey--25);
	--color--raised: var(--color--grey--900);

	--bg--overlay: var(--color--grey--25);
	--color--overlay: var(--color--grey--900);

	--color--muted: var(--color--grey--500);

	--border--focused: var(--color--primary--500);

	@include components.themeLight;
}
