$gradeScale: 25, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;
$shades: "brand", "gray", "green", "blue", "danger";

@each $shade in $shades {
	@each $grade in $gradeScale {
	  .bg-#{$shade}-#{$grade} {
		background-color: var(--color--#{$shade}--#{$grade});
		@if $grade >= 400 {
		  color: white;
		} @else {
		  color: black;
		}
	  }
	}
  }

.bg-primary {
	background: var(--bg--primary);
	border-color: var(--border--primary);
	color: var(--text--primary);
	--bg--hovered: var(--bg--primary--hover);
}

.bg-secondary {
	background: var(--bg--secondary);
	border-color: var(--border--secondary);
	color: var(--text--secondary);
	--bg--hovered: var(--bg--secondary--hover);
}

.bg-brand-solid {
	background: var(--color--blue--600);
	border-color: var(--border--primary);
	color: white;
	--bg--hovered: var(--color--blue--700);
	--color--hovered: white;
}

.bg-danger-solid {
	background: var(--color--danger--600);
	color: white;
	--bg--hovered: var(--color--danger--700);
	--color--hovered: white;
}


/**
 * Tell the target to use a --bg--hovered variable
 * if present for the hover color.
 */
.hovered-bg:hover {
	background: var(--bg--hovered, inherit);
}
