.border-thin {
	border-width: 1px;
	border-style: solid;
}

.border-primary {
	border-color: var(--border--primary);
}

.border-secondary {
	border-color: var(--border--secondary);
}

.border-tertiary {
	border-color: var(--border--tertiary);
}
