@mixin themeLight() {
	.elevation-default.border-strong,
	.elevation-default .border-strong {
		border-color: var(--color--grey--300);
	}

	.elevation-default.border-subtle,
	.elevation-default .border-subtle {
		border-color: var(--color--grey--200);
	}
}

@mixin themeDark() {
	.elevation-default.border-strong,
	.elevation-default .border-strong {
		border-color: var(--color--grey--700);
	}

	.elevation-default.border-subtle,
	.elevation-default .border-subtle {
		border-color: var(--color--grey--700);
	}
}
