.text-weight--base {
	font-weight: var(--text-weight--base);
}

.text-weight--emphasized {
	font-weight: var(--text-weight--emphasized);
}

.text-weight--strong {
	font-weight: var(--text-weight--strong);
}

.text-primary {
	color: var(--text--primary);
}
