@mixin bgLight {
	--bg--sunken: var(--color--grey--100);
	--bg--default: var(--color--grey--25);
	--bg--raised: var(--color--grey--25);
	--bg--overlay: var(--color--grey--25);
	--bg--hovered: var(--color--primary--25);
	--bg--active: var(--color--primary--50);
}

@mixin bgDark {
	--bg--sunken: var(--color--grey--900);
	--bg--default: var(--color--grey--800);
	--bg--raised: var(--color--grey--700);
	--bg--overlay: var(--color--grey--700);
	--bg--hovered: var(--color--primary--900);
	--bg--active: var(--color--primary--800);
}
